<h1>New Assessment</h1>

<%= form_with(model: [:admin, @assessment]) do |f| %>
  <div>
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, @students, :id, :name %>
  </div>

  <div>
    <%= f.label :subject_id %>
    <%= f.collection_select :subject_id, @subjects, :id, :name %>
  </div>

  <div>
    <%= f.label :performance_level %>
    <%= f.select :performance_level, Assessment::PERFORMANCE_LEVELS %>
  </div>

  <div>
    <%= f.label :assessment_date %>
    <%= f.date_field :assessment_date, value: Date.today %>
  </div>

  <%= f.submit "Save Assessment" %>
<% end %>