<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">ClassRooms</h1>
  <%= link_to "Add Subject", new_admin_class_rooms_path,
        class: "bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700" %>
</div>

<table class="w-full bg-white shadow rounded overflow-hidden">
  <thead class="bg-gray-100">
    <tr>
      <th class="p-3 text-left">Order</th>
      <th class="p-3 text-left">Classroom Name</th>
      <th class="p-3 text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @classrooms.each do |class_room| %>
      <tr class="border-b last:border-0">
        <td class="p-3"><%= class_room.order %></td>
        <td class="p-3"><%= class_room.name %></td>
        <td class="p-3 space-x-2">
          <%= link_to "Edit", edit_admin_class_room_path(subject),
                class: "text-blue-600 hover:underline" %>
          <%= link_to "Delete", admin_class_room_path(subject),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "text-red-600 hover:underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
