<aside class="w-64 bg-zinc-950 p-6 text-white">
  <h1 class="text-xl font-bold mb-8 tracking-wide">Hope School</h1>

  <nav class="space-y-4 text-sm font-medium">
    <%= link_to "Dashboard",
        admin_root_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Students",
        admin_students_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Teachers",
        admin_teachers_path,
        class: "block hover:text-emerald-400 transition" %>

    <hr class="border-zinc-800 my-4">

    <%= link_to "Levels",
        admin_levels_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Class Rooms",
        admin_class_rooms_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Subjects",
        admin_subjects_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Admissions",
        admin_admissions_path,
        class: "block hover:text-emerald-400 transition" %>

    <%= link_to "Assessments",
        admin_assessments_path,
        class: "block hover:text-emerald-400 transition" %>
  </nav>
</aside>
